@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #aa7130;
  --blue: #02385a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primaryorange: var(--orange);
  --color-primaryblue: var(--blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-nunito), system-ui, sans-serif;
}

@layer utilities {
  .btn-1 {
    @apply bg-primaryorange text-white px-4 py-2 rounded-lg;
  }

  .btn-2 {
    @apply bg-primaryorange text-white px-4 py-2 rounded-lg;
  }

  .header3 {
    font-family: var(--font-raleway);
    @apply font-semibold text-2xl md:text-4xl leading-10 text-primaryblue;
  }

  .header-raleway {
    font-family: var(--font-raleway);
    @apply;
  }
}
